---
// Imports
import logo from "@assets/logo.svg";
import navigationData from "@data/navigationData";
import {
getLangFromUrl,
useTranslatedPath,
useTranslations,
} from "@i18n/utils";
import { Image } from "astro:assets";

// Translations
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

// Current year
const currentYear = new Date().getFullYear();
---

<footer role="contentinfo" aria-labelledby="footer-title">
    <div class="container">
        <div>
            <a
                href={translatePath("/")}
                aria-label={`${t("main.title")} - ${t("footer.backToHome")}`}
                tabindex="0"
            >
               
                <Image
                    src={logo}
                    alt={t("main.title")}
                    width={100}
                    class="mb-3 mx-auto hover:opacity-50"
                    loading="eager"
                />
            </a>
            <p>{t("footer.description")}</p>
        </div>

        <nav aria-label="Footer navigation">
            <h3 id="footer-title">{t("footer.index")}</h3>
            <ul role="list">
                {
                    navigationData.map(
                        (entry: any) =>
                            entry.href && (
                                <li>
                                    <a
                                        href={translatePath(entry.href)}
                                        tabindex="0"
                                        aria-label={t(entry.label)}
                                    >
                                        {t(entry.label)}
                                    </a>
                                </li>
                            )
                    )
                }
            </ul>
        </nav>
    </div>

    <div class="credit" role="complementary" aria-label="Site information">
        <a
            href="https://github.com/thiagofons"
            target="_blank"
            rel="noopener noreferrer"
            aria-label={`${t("footer.name")}`}
            tabindex="0"
            class="hover:opacity-50"
        >
            {t("footer.name")}
        </a>
        <span> // &copy; {t("footer.copy")} {currentYear}</span>
        <span> // {t("footer.made", { what: "Astro" })}</span>
    </div>
</footer>
