---
// Imports
import {
    switchLanguageUrl,
    getLangFromUrl,
    useTranslations,
} from "@i18n/utils";
import { languages } from "@i18n/ui";

// Get current language
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

// Pre-generate URLs for all languages
const languageUrls = await Promise.all(
    Object.entries(languages).map(async ([lang, label]) => {
        const targetUrl = await switchLanguageUrl(Astro.url, lang);
        const translatedLabel = t(`menu.languages.${lang}`);
        return { lang, label: translatedLabel, targetUrl };
    })
);
---

<!-- // Simple list of links --><!-- <ul>
    {
        languageUrls.map(({ lang, label, targetUrl }) => (
            <li>
                <a href={targetUrl}>{label}</a>
            </li>
        ))
    }
</ul> --><!-- Dropdown selector -->
<label for="language" class="sr-only"
    >{t("menu.languagesText.selectLanguage")}
</label>
<select
    name="language"
    id="language"
    aria-label={t("menu.languagesText.selectLanguage")}
    aria-haspopup="listbox"
    aria-expanded="false"
    class="w-32 px-2 py-2 border border-black/10 rounded cursor-pointer outline-none rounded-md"
    onchange="window.location.href = this.value"
>
    {
        languageUrls.map(({ lang, label, targetUrl }) => (
            <option
                value={targetUrl}
                selected={lang === currentLang}
                aria-selected={lang === currentLang}
            >
                {label}
            </option>
        ))
    }
</select>
